@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900');


body{
  font-family: 'Rubik';
  background-color: rgb(251, 251, 251);
}

.cards1 {
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  margin-top: 88px;
  border-radius: 7px  ;
  padding: 44px;
  width: 288px;
  background-color: rgb(253, 253, 253);
  filter: drop-shadow(0px 2px 5px #eaeaea);
  -webkit-filter: drop-shadow(0px 2px 5px #eaeaea);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
}

.cards1:hover {
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(0px 5px 11px #2293af);
}

.cards {
  /* display: inline-block; */
  font-size: 18px;
  margin: 11px;
  background-color: rgb(253, 253, 253);
  filter: drop-shadow(0px 2px 5px #eaeaea);
  border-radius: 7px  ;
  -webkit-border-radius: 7px  ;
  -moz-border-radius: 7px  ;
  -ms-border-radius: 7px  ;
  -o-border-radius: 7px  ;
  -webkit-filter: drop-shadow(0px 2px 5px #eaeaea);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
}

.cards:hover {
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(0px 5px 11px #2293af);
}

.min-max{
  margin-top: 28px;
  margin-bottom: 16px;
}

.minVal {
  display: inline-block;
  text-align: center;
  /* padding: 8px; */
  /* border: 2px solid red; */
}

.maxVal {
  display: inline-block;
  text-align: center;
  /* padding: 8px; */
  /* border: 2px solid rgb(4, 0, 255); */
}

.weather {
  margin-top:22px;
  font-size: 32px;
  font-weight: 200;
  color: rgb(93, 147, 213);
}

#searchCont {
  margin-top: 80px;
}

#main-title {
  background-color: rgb(255, 255, 255);
  color: rgba(114, 213, 215, 0.396);
  text-align: center;
  font-weight: 100;
  font-size: 77px;

}

#cityInp {
  padding:20px;
  font-size: 22px;
  border: none;
  margin-left: 12px;
  background-color: rgb(235, 244, 244);
  height: 66px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

#cityInp:hover {
  background-color: rgb(252, 222, 70);
  transition: all .6s ease;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
}

#cityInp:focus {
  background-color: rgb(34, 34, 34);
  color: white;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
}


#searchbtn{
  padding:20px;
  height: 66px;
  width: 66px;
  font-size: 24px;
  border: none;
  color: rgb(60, 167, 194);
  margin-left: 12px;
  background-color: rgb(211, 238, 238);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

#searchbtn:hover {
  cursor: pointer;
  color: rgb(32, 78, 157);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  background-color: rgb(186, 255, 146);
}

#inputCont{
  font-size: 22px;
  text-align: center;
  color: rgb(93, 85, 75);
  font-weight: 400;
  /* background-color: aquamarine; */
}

#cityName {
  font-size: 52px;
  text-align: center;
  font-weight: 300;
  color: rgb(10, 65, 133);

}

.current{
  text-align: center;
  font-size: 22px;
  font-weight: 200;
}


#weatherCont{
  margin-top: 55px;
  margin-left: 88px;
  margin-right: 88px;
}